@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700&display=swap');

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 253, 255);
    background-image: url(./img/bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
}


#container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
}

#rodolfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fade-out {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 100%;
    }
}

#rodolfo h1{
    font-family: 'Kalam', cursive;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    line-height: 50px;
    color: rgb(48, 106, 61);
}

#rodolfo h2 {
    font-family: 'Kalam', cursive;
    font-size: 45px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 0;
}

.rodolfo {
    width: 350px;
    margin: 0 auto;
}

#slider {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.slide {
    max-width: 400px;
}

.img {
    width: 400px;
}

#slider h3 {
    font-family: 'Kalam', cursive;
    font-size: 30px;
    padding-left: 70px;
    margin-bottom: 20px;
}

.start {
    font-family: 'Kalam', cursive;
    margin-top: 20px;
    border-radius: 3px;
    border: 0;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-left: 130px;
}

.start:hover {
    background-color: rgb(48, 106, 61);
    color: white;
    cursor: pointer;
}

#game-container {
    margin: 0 auto;
    width: 800px;
    height: 600px;
}

canvas {
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 40px;
}